<div>
    <h1 class="display-4">About</h1>
    <p class="lead">I am a software developer, recreational musician and amatuer CrossFit athlete.</p>
    <p class="lead">
        I reside in Boise, ID. In 2017 I graduated with a B.S. in Computer Science from Boise State University. I then
        began working at Boise State University on the Web Development team developing both internal and public facing
        web applcations primarily in Typescript/Angular and C#.
    </p>
    <p class="lead">
        In my free time I enjoy challenging myself with technologies/frameworks unfamiliar to me. I also enjoy working
        on side
        projects</p>
    <div class="center">
        <div class="button-container">
            <button type="button" class="btn btn-outline-light btn-lg" routerLink="/resume">Resume</button>
        </div>
    </div>
</div>