<div>
        <h1 class="display-4">Resume</h1>
        <h3 class="display-5">Education</h3>
        <p class="lead">B.S. in Computer Science from Boise State University</p>
        <h3 class="display-5">Employment</h3>
        <p class="lead">2017 - Present, Web Developer on the Enterprise Application Development team at Boise State University</p>
        <p class="lead">2016 - 2017, Student Developer at Boise State University</p>
        <p class="lead">2015 - 2016, Tier 2 Hardware Support on the Hardware and A/V team at Boise State University</p>
        <h3 class="display-5">Skills</h3>
        <p class="lead"><i>Languages: </i>TypeScript, Javascript, C#, Java, PHP, Python, HTML, CSS, C, SQL</p>
        <p class="lead"><i>Technologies/Frameworks: </i>Windows, Linux, macOS, Angular, ASP.Net, .Net Core, Git, VisualStudio, VSCode, Microsoft IIS, Azure DevOps, Octopus Deploy, JetBrains TeamCity</p>
        <p class="lead"><i>AWS Experience: </i>EC2, Lambda, Elastic Beanstalk, S3, RDS, CloudFront, Route53, API Gateway, CloudWatch, CloudFormation, IAM, SNS, SES</p>
    </div>